In [1]:
#Topic of Interest : Trends of COVID-19 Clusters in Malaysia

In [2]:
import pandas as pd
import get_data

In [3]:
#Extraction = done extraction from MOH COVID19 Repo by using Github Desktop
#Loading = by using user def 'get_data' function called read_csv 
#The function can call any dataset in MOH covid19 repo by specifying folder name and filename

In [4]:
# Load clusters dataset
df = get_data.read_csv('epidemic','clusters')

In [5]:
# Transform dataset
df = get_data.convert_state_code(df) #------------convert state from numbers to known category
df = df.drop(['summary_en','summary_bm'],axis=1) #-------------drop column that are not specific to analysis
datecolumn = ['date_announced','date_last_onset']
for column in datecolumn:
    df[column] = pd.to_datetime(df[column],yearfirst=True)

In [7]:
# Overview of dataset
df.head() #--------------------top 5 of dataset

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
0,KLUSTER WARGA JEPUN,W.P. KUALA LUMPUR,LEMBAH PANTAI,2020-03-01,2020-03-09,import,ended,0,3,0,267,0,0,3
1,KLUSTER UDA,"JOHOR,NEGERI SEMBILAN,SELANGOR,W.P. KUALA LUMP...",PELBAGAI,2020-03-04,2020-03-01,import,ended,0,144,0,1864,0,2,142
2,KLUSTER KEAGAMAAN (TABLIGH SRI PETALING),not stated,PELBAGAI,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988
3,KLUSTER TABLIGH NEW DELHI,"NEGERI SEMBILAN,SELANGOR,W.P. KUALA LUMPUR,W.P...",PELBAGAI,2020-03-16,2020-03-20,import,ended,0,24,0,57,0,0,24
4,KLUSTER AIROD,PAHANG,KUANTAN,2020-03-31,2020-03-31,workplace,ended,0,65,0,734,0,0,65

In [8]:
df.tail() #----------------bottom 5 of dataset

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
7151,KLUSTER DUA JALAN PADANG GOLF 3,SELANGOR,HULU SELANGOR,2022-11-26,2022-11-25,highRisk,active,0,25,25,35,0,0,0
7152,KLUSTER JALAN PADANG GOLF 5,SELANGOR,HULU SELANGOR,2022-11-27,2022-11-26,highRisk,active,0,3,3,13,0,0,0
7153,KLUSTER DAH BATU 19,KEDAH,KUBANG PASU,2022-11-27,2022-12-04,education,active,12,84,84,214,0,0,0
7154,KLUSTER DAH TERABAK,KEDAH,KUBANG PASU,2022-12-01,2022-12-04,education,active,2,89,89,702,0,0,0
7155,KLUSTER JALAN KAKI BUKIT,PERLIS,KANGAR,2022-12-02,2022-12-03,education,active,0,12,12,12,0,0,0

In [9]:
df.info() #detect datatype for each column and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7156 entries, 0 to 7155
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cluster          7156 non-null   object
 1   state            7156 non-null   object
 2   district         7143 non-null   object
 3   date_announced   7156 non-null   datetime64[ns]
 4   date_last_onset  7156 non-null   datetime64[ns]
 5   category         7156 non-null   object
 6   status           7156 non-null   object
 7   cases_new        7156 non-null   int64
 8   cases_total      7156 non-null   int64
 9   cases_active     7156 non-null   int64
 10  tests            7156 non-null   int64
 11  icu              7156 non-null   int64
 12  deaths           7156 non-null   int64
 13  recovered        7156 non-null   int64
dtypes: datetime64[ns](2), int64(7), object(5)
memory usage: 782.8+ KB