# Descriptive Analysis and Statistics:

In [1]:
import pandas as pd
import get_data

In [4]:
#To read the original Covid dataset from the GitHub
dataset = get_data.read_csv('epidemic','clusters')
dataset

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered,summary_bm,summary_en
0,KLUSTER WARGA JEPUN,14,LEMBAH PANTAI,2020-03-01,2020-03-09,import,ended,0,3,0,267,0,0,3,NaN,NaN
1,KLUSTER UDA,"1,5,10,14,16",PELBAGAI,2020-03-04,2020-03-01,import,ended,0,144,0,1864,0,2,142,NaN,NaN
2,KLUSTER KEAGAMAAN (TABLIGH SRI PETALING),0,PELBAGAI,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988,NaN,NaN
3,KLUSTER TABLIGH NEW DELHI,"5,10,14,16",PELBAGAI,2020-03-16,2020-03-20,import,ended,0,24,0,57,0,0,24,NaN,NaN
4,KLUSTER AIROD,6,KUANTAN,2020-03-31,2020-03-31,workplace,ended,0,65,0,734,0,0,65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,KLUSTER DUA JALAN PADANG GOLF 3,10,HULU SELANGOR,2022-11-26,2022-11-25,highRisk,active,0,25,25,35,0,0,0,Kluster ini merupakan kluster berulang untuk k...,This is a third recurring cluster involving re...
7152,KLUSTER JALAN PADANG GOLF 5,10,HULU SELANGOR,2022-11-27,2022-11-26,highRisk,active,0,3,3,13,0,0,0,Kluster ini merupakan kluster berulang kali ke...,This cluster is the fifth repeated cluster inv...
7153,KLUSTER DAH BATU 19,2,KUBANG PASU,2022-11-27,2022-12-04,education,active,12,84,84,214,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves students from an educati...
7154,KLUSTER DAH TERABAK,2,KUBANG PASU,2022-12-01,2022-12-04,education,active,2,89,89,702,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...
7155,KLUSTER JALAN KAKI BUKIT,9,KANGAR,2022-12-02,2022-12-03,education,active,0,12,12,12,0,0,0,Kluster ini melibatkan pelajar-pelajar sebuah ...,This cluster involves the students of an educa...

In [5]:
#To view the 8 statistical properties of each attribute
dataset.describe()

,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
count,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000,7156.000000
mean,0.001956,78.429290,0.355226,318.667552,0.001677,0.272359,77.770542
std,0.143809,199.387438,5.303520,1086.949175,0.040919,1.288240,199.073056
min,0.000000,2.000000,0.000000,3.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,0.000000,51.000000,0.000000,0.000000,18.000000
50%,0.000000,35.000000,0.000000,117.000000,0.000000,0.000000,35.000000
75%,0.000000,73.000000,0.000000,282.250000,0.000000,0.000000,73.000000
max,12.000000,7205.000000,197.000000,42100.000000,1.000000,37.000000,7204.000000

To view the class distribution for the 'status' column and 'category' column

In [11]:
dataset.groupby('status').size()

status
0    7099
1      57
dtype: int64

In [12]:
dataset.groupby('category').size()

category
community          1732
detentionCentre     162
education           975
highRisk            486
import               53
religious           181
workplace          3567
dtype: int64